---
layout: default
---
{% assign post = page %}
<div class="post">
    {% if post.source %}
      <h2><a href="{{ post.source }}">{{ post.title }} &rarr;</a></h2>
    {% else %}
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    {% endif %}
    <p>
    <p class="pubdate">{{ post.date | date: "%b %d, %Y"  }}
    &bull;
    <a title="Permalink" href="{{ post.url }}">∞</a>
    </p>

    {{ content }}

</div>

<div class="paginator">
  {% if page.previous %}
    <div class="previous">&larr; <a class="previous" href="{{ page.previous.url }}" title="Previous post: {{ page.previous.title }}">{{ page.previous.title }}</a></div>
  {% endif %}
  
  {% if page.next %}
    <div class="next"><a class="next" href="{{ page.next.url }}" title="Next post: {{ page.next.title }}">{{ page.next.title }}</a> &rarr;</div>
  {% endif %}
</div>
